.feedback-container {
  background: #fff;
  border-radius: 8px;
  margin-top: 8px;
  padding: 16px;
  position: relative;
  box-shadow: 0 4px 8px grey;
}

.feedback-name {
  background: #fff;
  text-align: right;
  font-style: normal;
  font-size: small;
}

.feedback-email {
  background: #fff;
  border-radius: 8px;
  margin-top: 8px;
  padding: 16px;
  position: relative;
  box-shadow: 0 4px 8px grey;
}

.feedback-message {
  background: #fff;
  border-radius: 8px;
  margin-top: 8px;
  padding: 16px;
  position: relative;
  box-shadow: 0 4px 8px grey;
}

.feedback-quote {
  font-size: xx-large;
}
